body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.asd{
  background: linear-gradient(320deg, rgba(2,0,36,1) 0%, rgba(101,12,12,1) 55%);

}
.cell{
  background-color: rgb(255, 255, 255);
}
.cell:hover {
  background-color: #ababab;
  cursor: pointer;

}